// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.navbar-right .login {
  display: flex;
  flex-direction: row;
  
  a {
    padding: 15px;
  }

  p {
    padding: 15px;
    margin: 0;
  }
}